
span {
    position: relative;
    display:  inline-block;
    color: red;
    vertical-align: bottom;
    overflow: hidden;
    height: 1.25em;
    font-size: 60px;
    margin-left: 10px;
}

 span > span {
    display: block;
    animation: anim 5s infinite ease;
}

@keyframes anim {
    10%{
        transform: translateY(-0%);
    }
    25%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(-200%);
    }
    75%{
        transform: translateY(-300%);

    }
    100%{
        transform: translateY(-400px);
    }
}